name = "readability"
main = "src/workers.js"
compatibility_date = "2025-11-01"
[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[[kv_namespaces]]
binding = "YOUR_NAMESPACE"
id = "9eaf5a3f3187454896f976b96bd48e7a"
